*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-signin{
    border: 1px solid orange;
    border-radius: 5px;
    padding: 5% 10%;
}